*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212429;
}
.left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}
.left span img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
    height: 100%;
    display: flex;
    flex: 20;
    justify-content: end;
    align-items: center;
}
.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: #f9c10f;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
.right{
    height: 100%;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-evenly;

}
