<header>
    <div class="left">
      <span></span>  
  </div>
   <div class="center">
    <ul class="menu">
        <li><a href="contact.html">Contact</a></li>
        <li><a href="about.html">À propos</a></li>
    </ul>
  </div>
    <div class="right">
      <span class="pi pi-user" style="color: #fcc505"></span>
      <span class="pi pi-user"></span>

      <!-- <button pButton icon="pi pi-shopping-cart" class="md:align-self-end mb-2 p-button-rounded" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"></button> -->

    </div>
</header>
