*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    height: 90vh;
    display: flex;
    flex-direction: column;

}
.main{
    border: 1px solid green;
    height: 100%;
    width: 100%;
display: flex;
}
.titre{
  height: 10vh;
  width: 100%;
  background-color: #212429;
  display: flex ;
  justify-content: center;
  align-items: center;
  color: #f9c10f;
  font-size: 1rem;
  font-weight: bold;
font-family: 'Times New Roman', Times, serif;
}
.titre1{
  margin-top: 5px;
  height: 10vh;
  width: 100%;
  background-color: #212429;
  display: flex ;
  justify-content: center;
  align-items: center;
  color: #f9c10f;
  font-size: 1rem;
  font-weight: bold;
font-family: 'Times New Roman', Times, serif;
}
.p-card{
  height: 10vh;
  width: 10vw;

}
