<main>
  <div class="titre1">
    <h2>BURGER</h2>
  </div>
    <div class="main">
      <div class="card">
        <img class="card-img-top" src="../assets/images/burg2.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/images/burg3.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/images/burg4.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/images/burg5.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/images/burg6.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/images/burg7.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/images/burg8.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/images/burg8.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
        </div>
      </div>

  </div>
  <div class="titre">
    <h2>TACOS</h2>
</div>

  <div class="main">
    <div class="card">
      <img class="card-img-top" src="../assets/images/tacos1.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick exampl up theent.</p>
        <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/tacos2.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick exampl up theent.</p>
        <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/tacos3.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick exampl up theent.</p>
        <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/tacos4.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick exampl up theent.</p>
        <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/tacos5.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick exampl up theent.</p>
        <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/tacos6.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick exampl up theent.</p>
        <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/tacos7.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick exampl up theent.</p>
        <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/tacos8.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick exampl up theent.</p>
        <a href="#" class="btn btn-warning d-block">ajouter au panier</a>
      </div>
    </div>

  </div>
</main>
