<main>
  <div class="titre1">
    <h2>BURGER</h2>
  </div>
    <div class="main">
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/images/burgerlogo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick exampl up theent.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
  <div class="titre">
    <h2>TACOS</h2>
  </div>

  <div class="main"></div>
  <div class="titre">
    <h2>MENU</h2>
  </div>
  <div class="main"></div>
</main>
