*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
.main{
    border: 1px solid green;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titre{
  height: 10vh;
  width: 100%;
  background-color: #212429;
  display: flex ;
  justify-content: center;
  align-items: center;
  color: #f9c10f;
  font-size: 1rem;
  font-weight: bold;
font-family: 'Times New Roman', Times, serif;
}
.titre1{
  margin-top: 5px;
  height: 10vh;
  width: 100%;
  background-color: #212429;
  display: flex ;
  justify-content: center;
  align-items: center;
  color: #f9c10f;
  font-size: 1rem;
  font-weight: bold;
font-family: 'Times New Roman', Times, serif;
}

.card{
  width: 10rem;;
  overflow: hidden;
}.card-img-top {
  width: 100%; /* Pour que l'image remplisse complètement la largeur de la carte */
  height: 20vh; /* Permet à l'image de conserver son ratio hauteur/largeur */
  display: block; /* Ajuste la disposition de l'image */
}
